server {
  #------------------------------------
  # Server Setup
  #------------------------------------
  listen 80 default_server;
  server_name {{ site_hostname }};

  root /vagrant/;
  index index.php;

  #------------------------------------
  # Logging
  #------------------------------------
  # access_log /vagrant/log/nginx/access.log;
  # error_log  /vagrant/log/nginx/error.log;

  #------------------------------------
  # Routing and Processing Rules
  #------------------------------------
  location /phpmyadmin {
    root /srv/www/;
    index index.php;

    location ~ \.php$ {
      try_files $uri = 404;
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass unix:/var/run/php5-fpm.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
    }
  }

  location / {
    try_files $uri $uri/ /index.php?q=$uri&$args;
  }

  location ~* /(?:uploads|files)/.*\.php$ {
    deny all;
  }

  location ~ \.php$ {
    try_files $uri = 404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
}
